apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
images:
- name: public.ecr.aws/aws-cloudformation/aws-cloudformation-controller-for-flux
  newName: public.ecr.aws/aws-cloudformation/aws-cloudformation-controller-for-flux
  newTag: v0.0.3
